<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base_head.html::head(title='首頁' )">
<meta charset="utf-8">
</head>

<body>

	<div class="container mt-3">
		<h2>Striped Rows</h2>
		<!-- 設定彈出視窗(add page)  -->
		<div class="addbtn">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal"
				data-bs-target="#addModal">
				新增 <i class='fas fa-file-alt'></i>
			</button>
		</div>
		<p></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>編號</th>
					<th>物品種類</th>
					<th>序號</th>
					<th>功能</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="itemKindEntity : ${datalist}"
					th:object="${itemKindEntity}">
					<td></td>
					<td th:text=*{kindName}></td>
					<td th:text=*{id}></td>
					<td>
						<!-- 設定彈出視窗(upd page) -->
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#updModal"
							th:onclick="modifyData([[${itemKindEntity}]])">
							修改 <i class='fas fa-edit'></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- 修改模版, id value 為修改按鈕中data-bs-target參數的值(不用#號), 請參考booststrap5 modal的設定 -->
		<script src="/js/itemkind.js"></script>
		<form
			th:replace="/itemkind/upd.html::div(action='/itemkind/upd',
		 obj='${ItemKindEntity}', method='post',id='updModal')"></form>


		<!-- 新增模版, id value 為新增按鈕中data-bs-target參數的值(不用#號), 請參考booststrap5 modal的設定 -->
		<form
			th:replace="/itemkind/add.html::div(action='/itemkind/add',
		 	 method='post',id='addModal')"></form>

	</div>



	<footer th:replace="extends_footer.html::div"></footer>

	<link rel="stylesheet" href="/css/base_comm.css">
</body>
</html>
