<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<!-- CSS/HTML框架  -->
<!-- 使用 BbootStrap4  -->

<!-- 引用到的資源  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="/bootstrap-4.6.2-dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="/jquery/jquery-3.7.0.min.js"></script>

<!-- Popper JS -->
<script src="/popper/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/bootstrap-4.6.2-dist/js/bootstrap.bundle.min.js"></script>



</html>